/* --------------------------------------------------------------- 
    Fashion Minimal Demo Styles
-----------------------------------------------------------------*/
.container {
  max-width: 1920px; }
  @media (min-width: 576px) {
    .container {
      padding: 0 75px; } }

.snt-hero .hero-title {
  font-size: 92px;
  color: #000;
  font-family: 'Playfair Display', serif;
  text-align: center;
  width: 1440px;
  max-width: 100%;
  margin: 230px auto 115px;
  padding: 0 10%; }
  @media (max-width: 1199.98px) {
    .snt-hero .hero-title {
      font-size: 74px; } }
  @media (max-width: 991.98px) {
    .snt-hero .hero-title {
      font-size: 62px; } }
  @media (max-width: 767.98px) {
    .snt-hero .hero-title {
      font-size: 48px; } }
  @media (max-width: 575.98px) {
    .snt-hero .hero-title {
      font-size: 36px; } }
  .snt-hero .hero-title > span {
    color: #D29495;
    font-style: italic; }

.lg-half-bg-right {
  display: none; }
  @media (min-width: 992px) {
    .lg-half-bg-right {
      display: block;
      background: #6A6161;
      position: absolute;
      left: 50%;
      top: 0;
      bottom: 0;
      width: 50vw; } }

.banner-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px; }
  .banner-link:hover {
    color: #fff; }
  .banner-link > svg.feather {
    display: inline-block;
    vertical-align: middle; }

@media (min-width: 768px) {
  #slick_3 .slick-list {
    overflow: visible; } }
#slick_3 .slick-prev, #slick_3 .slick-next {
  top: calc((100% - 115px) / 2); }
#slick_3 .slick-prev {
  left: 50%;
  -webkit-transform: translateX(-470px);
  -moz-transform: translateX(-470px);
  -ms-transform: translateX(-470px);
  -o-transform: translateX(-470px);
  transform: translateX(-470px); }
  @media (max-width: 991.98px) {
    #slick_3 .slick-prev {
      left: 60px;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none; } }
  @media (max-width: 767.98px) {
    #slick_3 .slick-prev {
      left: 10px; } }
#slick_3 .slick-next {
  right: 50%;
  -webkit-transform: translateX(470px);
  -moz-transform: translateX(470px);
  -ms-transform: translateX(470px);
  -o-transform: translateX(470px);
  transform: translateX(470px); }
  @media (max-width: 991.98px) {
    #slick_3 .slick-next {
      right: 60px;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none; } }
  @media (max-width: 767.98px) {
    #slick_3 .slick-next {
      right: 10px; } }

.instagram-gallery .slick-track {
  display: flex;
  align-items: flex-end; }

.page-footer.style01 {
  background-color: transparent; }
  .page-footer.style01 .footer-middle p {
    font-family: 'Playfair Display';
    line-height: 1.2;
    letter-spacing: -0.01em; }

@media (min-width: 1200px) {
  .page-header .snt-menu ul.nav > li > .sub-menu {
    min-height: 430px; } }

/*# sourceMappingURL=style-minimal.css.map */
