.snt-newsletter {
	&.style01 {
		.content {
			max-width: 470px;

			.title {
				font-size: 48px;
				font-weight: 400;
				margin-bottom: 25px;
			}

			.txt {
				font-size: 18px;
				color: $color-heading;
				margin-bottom: 50px;
			}
		}
		

		.form-control-wrapper {
			display: flex;

			input {
				margin-right: 12px;
				border: 0;
				border-radius: 0;
				padding-left: 25px;
				padding-right: 25px;
			}
		}

		.newsletter-banner {
			position: relative;
			text-align: center;

			h2 {
				font-size: 250px;
				white-space: nowrap;
			}

			figure {
				position: absolute;
				left: 50%;
				bottom: -102px;
				@include transform(translateX(-50%));
			}

			@include media-breakpoint-down(md) {
				display: none;
			}
		}
	}

	&.style02 {
		.content {
			padding: 50px;
			display: flex;
			flex-direction: column;
			text-align: center;
			justify-content: center;
			position: relative;
			z-index: 1;

			.title {
				font-size: 24px;
				font-weight: 400;
				margin-bottom: 15px;
			}

			.txt {
				font-size: 13px;
				color: $color-heading;
			}

			.form-control-wrapper {
				input {
					height: 50px;
					border: 0;
					border-radius: 0;
					margin-bottom: 15px;
					text-align: center;
				}

				button {
					width: 100%;
					margin-bottom: 30px;
				}
			}

			figure {
				position: absolute;
				left: 0;
				bottom: 0;
				z-index: -1;
			}
		}
	}

	&.style03 {
		.content {
			text-align: center;
			padding: 50px clamp(30px,20%,100px);
			display: flex;
			flex-direction: column;
			justify-content: center;
			border: 1px solid #DEE9ED;

			.title {
				font-size: 24px;
				font-weight: 500;
				margin-bottom: 20px;
			}

			.subtitle {
				font-size: 18px;
				font-weight: 400;
				color: $color-base;
			}

			.txt {
				font-size: 24px;
				color: $color-heading;

				strong {
					font-size: 96px;
					margin-right: 10px;
				}
			}
		}

		figure {
			> img {
				height: 100%;
				object-fit: cover;
			}
		}

		.form-control-wrapper {
			input {
				height: 50px;
				border: 1px solid $color-heading;
				border-radius: 0;
				margin-bottom: 15px;
				text-align: center;
			}

			button {
				width: 100%;
				margin-bottom: 30px;
			}
		}
	}

	&.style04 {
		.content {
			text-align: center;
			padding: 50px clamp(30px,20%,100px);
			display: flex;
			flex-direction: column;
			justify-content: center;
			background-color: #111;
			color: #fdfdff;

			@include media-breakpoint-down(lg) {
				padding: 50px 10px;
			}

			.content-inner {
				max-width: 300px;
				margin-left: auto;

				@include media-breakpoint-down(lg) {
					margin-right: auto;
				}
			}

			.title {
				font-size: 24px;
				font-weight: 500;
				margin-bottom: 20px;
				color: inherit;
			}

			.subtitle {
				font-size: 18px;
				font-weight: 400;
				color: rgba(253,253,255, 0.5);
			}

			.txt {
				font-size: 24px;
				color: inherit;

				strong {
					font-size: 96px;
					margin-right: 10px;
					font-weight: 500;
				}
			}
		}

		figure {
			> img {
				height: 100%;
				object-fit: cover;
			}
		}

		.form-control-wrapper {
			input {
				height: 50px;
				border: 1px solid $color-heading;
				border-radius: 0;
				margin-bottom: 15px;
				text-align: center;
			}

			button {
				width: 100%;
				margin-bottom: 30px;
			}
		}
	}

	&.style05 {
		.form-control-wrapper {
			display: flex;

			input {
				margin-right: 12px;
				border-radius: 0;
				padding-left: 25px;
				padding-right: 25px;
				border: 1px solid #000;
				text-align: center;
			}
		}
	}

	&.style06 {
		.form-control-wrapper {
			display: flex;
			border-bottom: 1px solid #000;

			input {
				border: 0;
				border-radius: 0;
				padding-left: 0;
				padding-right: 0;
				margin-right: 12px;
				margin-bottom: 0;

				&:focus {
					box-shadow: none;
					border: 0;
				}
			}

			button {
				border: 0;
				padding: 0;
				width: auto;
				text-transform: uppercase;
				font-size: 14px;

				&:hover {
					color: inherit;
					background-color: inherit;
				}

				&:focus {
					outline: none;
				}
			}
		}
	}

	&.style07 {
		background-color: #fff;
		max-width: 630px;
		margin: 0 auto;

		.content {
			padding: 40px 20px;
			display: flex;
			flex-direction: column;
			justify-content: center;

			.title {
				font-size: 48px;
				font-weight: 500;
				margin-bottom: 20px;
			}

			.subtitle {
				font-size: 18px;
				font-weight: 400;
				color: $color-base;
				margin-bottom: 10px;
			}

			.txt {
				font-size: 18px;
				margin-bottom: 50px;
				letter-spacing: 0.02em;
			}
		}

		figure {
			> img {
				height: 100%;
				object-fit: cover;
			}
		}

		.form-control-wrapper {
			input {
				height: 50px;
				background-color: #E8E9ED;
				border: 0;
				border-radius: 0;
				margin-bottom: 15px;
				text-align: center;
			}

			button {
				width: 100%;
			}
		}
	}

	&.style08 {
		max-width: 768px;
		margin: 0 auto;

		.content {
			background-color: #000;
			text-align: center;
			padding: 50px 25px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			
			@include media-breakpoint-up(md) {
				width: 368px;
			}
		}

		.subtitle {
			color: #fff;
			font-weight: 400;
			line-height: 1;
			margin-bottom: 10px;

			> span {
				display: inline-block;
			}

			.num {
				font-size: 144px;
				margin-right: 30px;
			}

			em {
				font-size: 78px;
				font-style: normal;
				display: block;
				margin-bottom: 10px;
			}

			i {
				font-size: 28px;
				font-style: normal;
				display: block;
			}
		}

		.title {
			color: #fff;
		    font-size: 36px;
		    font-weight: 500;
		    margin-bottom: 50px;
		}

		.form-control-wrapper {
			width: 257px;
			margin: 0 auto;

			input {
				height: 50px;
				border: 0;
				border-radius: 0;
				margin-bottom: 15px;
				text-align: center;
			}

			button {
				width: 100%;
			}
		}

		figure {
			> img {
				height: 100%;
				object-fit: cover;
			}
		}
	}

	&.style09 {
		background-color: #111;
		max-width: 470px;
		margin: 0 auto;

		.content {
			padding: 30px;
			display: flex;
			flex-direction: column;

			.title {
				font-size: 48px;
				font-weight: 500;
				margin-bottom: 20px;
				color: #fff;
			}

			.subtitle {
				font-size: 18px;
				font-weight: 400;
				margin-bottom: 10px;
				color: rgba(255,255,255,0.7);
			}

			.txt {
				font-size: 18px;
				margin-bottom: 50px;
				letter-spacing: 0.02em;
				color: rgba(255,255,255,0.7);
			}
		}

		.form-control-wrapper {
			display: flex;

			input {
				margin-right: 12px;
				border-radius: 0;
				padding-left: 25px;
				padding-right: 25px;
				text-align: center;
			}
		}
	}

	&.style10 {
		.content {
			padding: 100px 30px;

			@include media-breakpoint-up(lg) {
				padding-left: 50px;
				padding-right: 50px;
				min-width: 540px;
			}

			.content-inner {
				width: 360px;
				max-width: 100%;
				margin-left: auto;
				display: flex;
				flex-direction: column;
				justify-content: center;

				@include media-breakpoint-down(md) {
					margin-right: auto;
				}
			}

			.title {
				font-size: 38px;
				font-weight: 400;
				margin-bottom: 10px;
			}

			.txt {
				font-size: 18px;
				margin-bottom: 30px;
			}
		}

		.form-control-wrapper {
			display: flex;

			input {
				margin-right: 12px;
				border: 0;
				border-radius: 0;
				padding-left: 25px;
				padding-right: 25px;
				background-color: #EFEFEF;
			}

			button {
				padding-left: 15px;
				padding-right: 15px;
			}
		}

		figure {
			> img {
				height: 100%;
				object-fit: cover;
			}
		}

		&.revert {
			.content {
				.content-inner {
					margin-left: 0;
					margin-right: auto;

					@include media-breakpoint-down(md) {
						margin-right: auto;
						margin-left: auto;
					}
				}
			}
		}
	}

	&.style11 {
		.form-control-wrapper {
			display: flex;
			border-bottom: 1px solid #000;

			input {
				border: 0;
				border-radius: 0;
				padding-left: 0;
				padding-right: 0;
				margin-right: 12px;
				margin-bottom: 0;

				&:focus {
					box-shadow: none;
					border: 0;
				}
			}

			button {
				border: 0;
				padding: 0;
				width: 20px;
				text-transform: uppercase;
				font-size: 14px;
				position: relative;
				background-color: transparent;
				color: #000;

				&:hover {
					color: inherit;
					background-color: inherit;
				}

				&:focus {
					outline: none;
				}

				&:before {
					content: '';
					display: block;
					height: 1px;
					border-top: 1px solid;
					color: inherit;
					opacity: 1;
				}

				&:after {
					content: '';
					display: block;
					width: 5px;
					height: 5px;
					border: 1px solid;
					border-width: 1px 1px 0 0;
					@include transform(rotate(45deg));
					position: absolute;
					left: auto;
					right: 0;
					top: 50%;
					margin-top: -2.5px;
				}

				span {
					display: none;
				}
			}
		}
	}

	&.style12 {
		.form-control-wrapper {
			display: flex;

			input {
				border: 1px solid #000;
				border-radius: 0;
				margin-bottom: 0;
				text-align: center;
				font-size: 14px;

				&:focus {
					box-shadow: none;
					border: 1px solid #000;
				}
			}

			button {
				font-size: 18px;
				position: relative;

				&:focus {
					outline: none;
				}
			}
		}
	}

	&.style13 {
		.form-control-wrapper {
			display: flex;
			border-bottom: 1px solid #000;

			input {
				border: 0;
				border-radius: 0;
				padding-left: 0;
				padding-right: 0;
				margin-right: 12px;
				margin-bottom: 0;
				font-size: 14px;

				&:focus {
					box-shadow: none;
					border: 0;
				}
			}

			button {
				border: 0;
				padding: 0;
				width: auto;
				text-transform: uppercase;
				font-size: 14px;
				position: relative;
				background-color: transparent;
				color: #000;

				&:hover {
					color: inherit;
					background-color: inherit;
				}

				&:focus {
					outline: none;
				}
			}
		}
	}

	&.style14 {
		.form-control-wrapper {
			display: flex;
			border: 1px solid #000;

			input {
				border-radius: 0;
				margin-bottom: 0;
				border: 0;
				padding: 0 20px;

				&:focus {
					box-shadow: none;
					border: 0;
				}
			}

			button {
				border: 0;
				padding: 0;
				width: 12px;
				text-transform: uppercase;
				font-size: 14px;
				position: relative;
				background-color: transparent;
				color: #000;
				margin: 0 20px;

				&:hover {
					color: inherit;
					background-color: inherit;
				}

				&:focus {
					outline: none;
				}

				&:before {
					content: '';
					display: block;
					height: 1px;
					border-top: 1px solid;
					color: inherit;
					opacity: 1;
				}

				&:after {
					content: '';
					display: block;
					width: 5px;
					height: 5px;
					border: 1px solid;
					border-width: 1px 1px 0 0;
					@include transform(rotate(45deg));
					position: absolute;
					left: auto;
					right: 0;
					top: 50%;
					margin-top: -2.5px;
				}

				span {
					display: none;
				}
			}
		}
	}
}