@import "variables";
@import "mixins";

/* --------------------------------------------------------------- 
    Furniture Demo Styles
-----------------------------------------------------------------*/

.snt-section {
	padding: 90px 0;
}

.snt-banner {
	&.style12 {
		.content {
			z-index: unset;

			h3, h4 {
				line-height: 1.5;
			}

			.btn-container {
				position: relative;
				z-index: 5;

				a:not(.button) {
					font-size: 12px;
					color: $color-heading;
					line-height: 1;
					letter-spacing: 0.09em;
					font-weight: 500;
				}
			}
		}
		

		&.large {
			.subtitle {
				font-size: 12px;
				color: $color-base;
				letter-spacing: 0.09em;
			}
		}
	}
}

.snt-testimonial.style01 .rating {
	color: #52BF98;
}

.page-footer.style06 {
	.footer-top {
		border-bottom: 1px solid #DEE9ED;
		border-top: 1px solid #DEE9ED;
		background-color: #FEFAF7;
		padding: 24px 0;
	}

	.footer-middle {
		background-color: #000;
		border: 0;
		color: #fff;

		.widget .widget-title h5 {
			color: #fff;
		}
	}

	.footer-bottom {
		background-color: #111;
		border: 0;
		color: #fff;
	}
}