@import "variables";
@import "mixins";

/* --------------------------------------------------------------- 
    Fashion Modern Demo Styles
-----------------------------------------------------------------*/

.container {
	max-width: 1920px;

	@include media-breakpoint-up(sm) {
		padding: 0 75px;
	}
}

.page-header.style02 .snt-menu {
	@include media-breakpoint-up(xl) {
    	padding-left: 200px;
    }
}

.page-footer {
	&.style01 {
		background-color: transparent;

		.footer-middle p {
			line-height: 1.3;
			margin-bottom: 40px;
		}
	}

	.widget .widget-title h5 {
		font-size: 12px;
		font-weight: 500;
	}

	.footer-links {
		line-height: 2;
	}
}

.snt-hero {
	.item {
		position: relative;

		.content {
			position: absolute;
			left: 20px;
			right: 20px;
			bottom: 50px;
			color: #fff;
			text-align: center;
			line-height: 1;

			h5 {
				margin-bottom: 15px;
				color: #fff;
			}
		}
	}
}

.snt-icon-box.style03 {
	justify-content: center;
}

.instagram-gallery .slick-track {
    display: flex;
    align-items: flex-end;
}

.page-header .snt-menu ul.nav > li > .sub-menu {
    @include media-breakpoint-up(xl) {
        min-height: 430px;
    }
}