@import "variables";
@import "mixins";

/* --------------------------------------------------------------- 
    Digital Demo Styles
-----------------------------------------------------------------*/

.snt-banner.style12 {
	.title {
	    font-size: 17px;
	    font-weight: 700;
	    letter-spacing: 2px;
	    color: #fff;
	}

	.subtitle {
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 1.5px;
		color: #fff;
	}
}


.snt-newsletter.style04 {
	.content {
		background-color: transparent;
		padding-top: 100px;
		padding-bottom: 80px;
	}

	.form-control-wrapper input {
	    border: 0;
	    background-color: #fff;

	    &:focus {
	    	border: 0;
	    }
	}
}

.page-footer.style08 {
	border-top: 0;
}

.snt-banner.style23 {
	.title.small {
		font-size: 21.3px;
	}

	.btn-container a {
		font-size: 18px;
	}
}

.page-footer.style08 .footer-bottom {
    background-color: #FEFAF7;
}