@import "variables";
@import "mixins";

/* --------------------------------------------------------------- 
    Sports Demo Styles
-----------------------------------------------------------------*/

.page-main {
	padding-bottom: 50px;
}

.snt-section {
	padding: 60px 0;
}

.snt-hero.style09 {
	.slick-list {
		margin: 0 -15px;

		.slick-slide {
			padding: 0 15px;
		}
	}

	.content {
		@include media-breakpoint-down(sm) {
			left: 0;
			@include transform(translateX(0));
		}
	}
}